body
{
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: Raleway, sans-serif;
}

/*HEADER*/
#titre
{
	display: flex;
	justify-content: space-between;
}

#logo img{
	margin-left: 20px;
}

header img
{
	height: 60px;
	width: 120px;
}


/*NAVIGATION*/
nav ul
{
	list-style-type: none;
	display: flex;
	height: 100%;
	margin: 0;
}

nav li
{
	margin-right: 15px;
	margin-top: 30px;

}

nav a
{
	font-size: 1.3em;
	text-decoration: none;
	padding-top: 28px;
}

nav a:hover /*lorsque qu'on survole le bouton un bord bleu apparait*/
{
	border-top: 2px solid #0065FC;
} 

/*SECTION SEARCH*/

.p1 /*p1 et p2 pour coller les deux lignes*/
{
	line-height: 1em;
}

.p2
{
	margin: 0;
}

.blue  /*BOUTON INFORMATION*/
{
	color: #0065FC;
	border: 2px solid #F2F2F2;
	border-radius: 15px;
	padding-left: 9px;
	padding-bottom:5px;
	padding-top: 5px;
	padding-right: 9px;
	margin-right: 5px;

}

input::placeholder
{
	font-weight: bold;
	color: black;
}

.barre /*FILTRE*/
{
	margin-right: 20px;
	border-radius: 15px;
	color: #0065FC;
	display: flex;
	flex-direction: row;
	border-color: #F2F2F2;
	padding-left:3px;
	padding-bottom:3px;
	padding-right:3px;
	padding-top:3px;
}

button  /*bouton de recherche*/
{
	background-color: #0065FC;
	border-radius: 15px;
	color: white;
	padding-left: 10px;
	padding-bottom:5px;
	padding-top: 5px;
	padding-right: 10px;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
	border: 0;
}

#recherche
{
	display: flex;
	margin-left: 20px;
}

#recherche input
{
	border: 1px solid #F2F2F2;
}

#recherche i
{
	size: 3em;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #F2F2F2;
	background-color: #F2F2F2;
	border-radius: 15px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	padding-left: 10px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-top: 5px;

}

/*SECTION FILTRE*/ 

#filtre
{
	display: flex;
	font-weight: bold;
}

#filtre i
{
	margin: 0;
}

#filtre ul
{
	list-style-type: none;
	display: flex;
	padding-left: 0px;
	margin-left: 20px;
	margin-right: 20px;
}

#filtre li
{
	display: flex;
	border-radius: 15px;
	padding-left: 5px;
	padding-bottom:5px;
	padding-top: 5px;
	padding-right: 5px;
}

.filtre1
{
	background-color: #DEEBFF;
}

.filtre2
{
	display: flex;
	border:2px solid #F2F2F2;
	border-radius: 18px;
	border-left: 0;
}

.filtre2:hover
{
	background-color: #DEEBFF;
}

input
{
	padding-left: 10px;
}

/*MAIN*/

main
{
	display: flex;
	justify-content: space-between;
	margin-right: 10px;
	margin-left: 10px;
}

main i
{
	color: #0065FC;
}

.grey
{
	color: #F2F2F2;
}


#hebergement
{
	width: 70%;
	background-color: #F2F2F2;
	/* position: static; */
	border-radius: 15px;
	padding: 10px;
	font-size: 0.9em;
	height: auto;
	margin-top: 0;
	margin: 10px;
}
#hebergement h3 
{
	margin-bottom: 0;
	margin-top: 5px;
	margin-left: 8px;
	display: flex;
	flex-wrap: wrap;
}
#hebergement p
{
	margin: 8px;
}

#hebergement img
{
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	width: 100%;
	height: 150px;
}


.figureHeb
{
	width: 225px;
	border-radius: 15px;
	background-color: white;
	border: 4px solid white;
	overflow: hidden;
	margin: 20px;
}
.liHeb
{
	display: flex;
	flex-direction: column;
	list-style-type: none;
}

.figcaptionHeb
{
	display: flex;
	flex-direction: column;
}
.ulHeb
{
	display: flex;
	flex-direction: row;
	width: 20%;
	margin: 0;
	padding: 0;
}


aside
{
	width: 30%;
	position: static;
	background-color: #F2F2F2;
	border-radius: 15px;
	padding: 10px;
	font-size: 0.9em;
	height: auto;
	margin: 10px;
}
#popimage
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#popimage i
{
	color: black;
}

#pop
{
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 0px;
	margin-top: 0px;
}

.figPop
{
	display: flex;
	margin-top: 25px;
	margin-bottom: 25px;
	background-color: white;
	border-radius: 15px;
	margin-right: 10px;
	margin-left: 10px;
	border: 4px solid white;
}

aside img
{
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;
	margin-right: 10px;
	width: 40%;
	height: 120px;
}

#cts
{
	display: flex;
	flex-direction: column;
}


/*ACTIVITES*/

#activites
{
	display: flex;
	width: 100%;
	height: auto;
}

#titleActi
{
	margin-left: 20px;
}

#activites li
{
	list-style-type: none;
	display: flex;
	flex-flow: row wrap;
	height: 0%;
}
#activites ul
{
	padding: 0;
}
#activites img
{
	border-radius: 15px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.figureActi
{
	width: 100%; 
	border-radius: 15px;
	background-color: white;
	box-shadow: 5px 2px 5px grey;
	margin-left: 20px;
	margin-right: 20px;	
	overflow: hidden;
	max-height: max-content;
}

.figcaptionActi
{
	display: flex;
	font-size: 12px;
}

.double
{
	display: flex;
	flex-wrap: wrap;
}


.liActi
{
	width: 100%;
	margin: 0;
	height: auto;
}
.ulActi
{
	width: 25%;
	display: flex;
	padding-left: 0;
	padding-right: 0;
	margin-right: 0;
	margin-left: 0;
}

.grandeIMG
{
	height: 450px;
}

.petiteIMG
{
	height: 182px;
	width: 280px;
}
.IMG1
{
	height: 220px;
	width: 280px;
}

.IMG2
{
	height: 150px;
	width: 280px;
}
.espace
{
	margin-top: 32px;
}

.espace2
{
	margin-top: -18px;
}


/*Footer*/

footer
{
	display: flex;
	background-color: #F2F2F2;

}

#propos ul
{
	list-style-type: none;
}

#propos
{
	display: flex;
	width: 33%;
}

#noshebergements ul
{
	list-style-type: none;
}

#noshebergements
{
	display: flex;
	width: 33%;
}

#assistance ul
{
	list-style-type: none;
}

#assistance
{
	display: flex;
	width: 33%;
}

/*RESPONSIVE*/

@media screen and (max-width: 400px) 
{
	body 
	{
		width: auto;
	}
	.nav1
	{
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	.nav2
	{
		display: flex;
		justify-content: flex-end;
	}
	#titre
	{
		flex-wrap: wrap;
	}
	#titre ul
	{
		flex-wrap: wrap;
		padding-left: 0;
		margin: 0;
	}
	#filtre
	{
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	main
	{
		flex-direction: column-reverse;
		max-width: auto;
		margin: 0;
	}
	#hebergement
	{
		background-color: white;
		width: auto;
	}
	#heb
	{
		width: auto;
	}
	#activites ul
	{
		display: flex;
		flex-direction: column;
	}
	
	aside
	{
		margin: 0;
		padding: 0;
		width: auto;
		border-radius: 0;
	}
	.figureHeb
	{
		margin: 0;
		width: 100%;
	}
	

	footer
	{
		flex-direction: column;
	}
	
}

