@font-face {
    font-family: 'ralewayextralight';
    src: url('raleway-extralight-webfont.woff2') format('woff2'),
         url('raleway-extralight-webfont.woff') format('woff'),
		 url('Raleway-ExtraLight.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}


body
{
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: 'ralewayextralight';
}

/*HEADER*/

#titre
{
	display: flex;
	justify-content: space-between;
}


#logo
{
	height: 60px;
	margin: 20px;
}

header img
{
	height: 60px;
	width: 120px;
}


/*NAVIGATION*/
nav ul
{
	list-style-type: none;
	display: flex;
	width: 100%;
	margin: 0;
	padding: 0;
}
nav li
{
	margin-right: 15px;
	margin-top: 30px;
}

nav a
{
	font-size: 1.3em;
	text-decoration: none;
	padding-top: 28px;
	color: black;
}
.nav2 a
{
	color: #0065FC;
}

#navMenu
{
	display: flex;
}

nav a:hover /*lorsque qu'on survole le bouton un bord bleu apparait*/
{
	border-top: 2px solid #0065FC;
	color: #0065FC;
} 

.introT
{
	margin-left: 20px;
}

/*SECTION SEARCH*/

.p1 
{
	line-height: 1em;
}

.p2
{
	margin: 0;
}
.p3
{
	margin-left: 20px;
}
.p4
{
	line-height: 2em;
}
.p5
{
	line-height: 2.5em;
	font-weight: bold;
	
}
.blue  /*BOUTON INFORMATION*/
{
	color: #0065FC;
	border: 2px solid #F2F2F2;
	border-radius: 15px;
	padding-left: 9px;
	padding-bottom:5px;
	padding-top: 5px;
	padding-right: 9px;
	margin-right: 5px;

}

input::placeholder
{
	font-weight: bold;
	color: black;
}

.barre /*FILTRE*/
{
	margin-right: 20px;
	border-radius: 15px;
	color: #0065FC;
	display: flex;
	flex-direction: row;
	border-color: #F2F2F2;
	padding-left:3px;
	padding-bottom:3px;
	padding-right:3px;
	padding-top:3px;
	overflow: hidden;
}

button  /*bouton de recherche*/
{
	background-color: #0065FC;
	border-radius: 15px;
	color: white;
	padding-left: 10px;
	padding-bottom:5px;
	padding-top: 5px;
	padding-right: 10px;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
	border: 0;
}

#recherche
{
	display: flex;
	margin-left: 20px;
}

#recherche input
{
	border: 1px solid #F2F2F2;
}

#recherche i
{
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #F2F2F2;
	background-color: #F2F2F2;
	border-radius: 15px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;

}

#search h3
{
	font-weight: bold;
}

/*SECTION FILTRE*/ 

#filtre
{
	display: flex;
	font-weight: bold;
}

#filtre i
{
	margin: 0;
	text-align: center;
}


#filtre ul
{
	list-style-type: none;
	display: flex;
	padding-left: 0px;
	margin-left: 20px;
	margin-right: 20px;

}

#filtre li
{
	display: flex;
	border-radius: 15px;
	padding-left: 5px;
	padding-bottom:5px;
	padding-top: 5px;
	padding-right: 5px;
}
.titreFiltre
{
	margin-left: 20px;
	margin-right: 20px;
}

.filtre1
{
	background-color: #DEEBFF;
}

.filtre2
{
	display: flex;
	border:2px solid  #F2F2F2;
	border-radius: 18px;
}

.filtre2:hover
{
	background-color: #DEEBFF;
	border-color:  #0065FC;
}

input
{
	padding-left: 10px;
}

/*MAIN*/

main
{
	display: flex;
	justify-content: space-between;
	margin-right: 10px;
	margin-left: 10px;
}

main i
{
	color: #0065FC;
}

.grey
{
	color: #F2F2F2;
}
main a
{
	text-decoration: none;
	color: black;
}

/* HEBERGEMENT */

#hebergement
{
	width: 70%;
	background-color: #F2F2F2;
	border-radius: 15px;
	padding: 10px;
	font-size: 0.9em;
	height: auto;
	margin-top: 0;
	margin: 10px;
}
#hebergement h3 
{
	margin-bottom: 0;
	margin-top: 5px;
	margin-left: 8px;
	display: flex;
	flex-wrap: wrap;
}
#hebergement p
{
	margin: 8px;
}

#hebergement img
{
	width: 100%;
}

#hebergement h2
{
	margin-left: 25px;
}
.figureHeb
{
	border-radius: 15px 15px 0px 0px;
	overflow: hidden;
	margin: 5px;
	height: 120px;
}
.liHeb
{
	width: 33%;
	border-radius: 15px;
	background-color: white;
	display: flex;
	flex-direction: column;
	list-style-type: none;
	margin: 20px;
	box-shadow: 5px 5px 15px -10px;
}

.figcaptionHeb
{
	display: flex;
	flex-direction: column;
}
.ulHeb
{
	display: flex;
	flex-direction: row;
	width: 100%;
	margin: 0;
	padding: 0;
}
.merImg
{
	top: -35px;
	position: relative;
}

.aminaImg
{
	top: -120px;
	position: relative;
}

/* POPULAIRE ASIDE */
aside
{
	width: 30%;
	position: static;
	background-color: #F2F2F2;
	border-radius: 15px;
	padding: 10px;
	font-size: 0.9em;
	height: auto;
	margin: 10px;
}
#popimage
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#popimage i
{
	color: black;
}

#pop
{
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 0px;
	margin-top: 0px;
}

#pop li
{
	background-color: white;
	border: 4px solid white;
	border-radius: 15px;
	margin: 20px;
	display: flex;
	height: 120px;
	box-shadow: 5px 5px 15px -10px;
}


.figPop
{
	border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
	/* display: flex; */
	margin: 0;
	height: 100%;
	width: 40%;
	margin-right: 5px;
	overflow: hidden;
}

#pop img.paysage
{
	height: 100%;
}
#pop img.portrait
{
	width: 100%;
}
.soleil
{
	position: relative;
	left: -20px;
}
.aucoeur
{
	position: relative;
	left: -15px;
}

.bleublanc
{
	position: relative;
	top: -20px;
}

.cts{
	width: 60%;
}

#cts
{
	display: flex;
	flex-direction: row;
}



/*ACTIVITES*/

#activites
{
	height: auto;
	margin: 20px;
}
#activites a
{
	text-decoration: none;
	color: black;
}

#titleActi
{
	margin-left: 20px;
}

.liActi
{
	width: 24%;
	list-style-type: none;
	margin: 10px;
	height: 450px;
}

.ulActi
{
	display: flex;
	flex-direction: row;
	width: 100%;
	margin: 0;
	padding: 0;
}

.cardActivite
{
	border-radius: 15px;
	background-color: white;
	flex-direction: column;
	box-shadow: 5px 5px 15px -12px;
	height: 100%;
}
.figureActi
{
	border-radius: 15px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	margin: 0px;
	overflow: hidden;
	height: 90%;
	text-align: center;
}

.figcaptionActi
{
	display: flex;
	font-size: 12px;
	padding-left: 10px;
	height: 10px;
}

.simple
{
	display: flex;
	flex-direction: column;
}

.double
{
	display: flex;
	flex-wrap: wrap;
}

.vieuxportIMG
{
	position: relative;
	left: -175px;
}
#fort
{
	height: 55%; 
}

.figFort
{
	height: 82%;
}
.fortIMG
{
	position: relative;
	top: -100px;
}

#iles
{
	height: 40%;
	margin-top: 20px;
}

.figIles
{
	height: 76%;
}

.calanquesIMG
{
	position: relative;
	left: -150px;
}

#garde
{
	height: 45%;
}

.figGarde
{
	height: 79%;
}
#longchamp
{
	height: 50%;
	margin-top: 20px;
}
.figLongchamp
{
	height: 81%;
}
#activites img.paysage
{
	height: 100%;
}
#activites img.portrait
{
	width: 100%;
}


.espace
{
	margin-top: 30px;
}

.espace2
{
	margin-top: 32px;
}




/*Footer*/

footer
{
	display: flex;
	background-color: #F2F2F2;

}

#propos 
{
	list-style-type: none;
	width: 33%;
	padding: 0;
}

#noshebergements
{
	list-style-type: none;
	width: 33%;
	padding: 0;
}


#assistance
{
	list-style-type: none;
	width: 33%;
	padding: 0;
}

footer li
{
	margin-left: 20px;
}



/*RESPONSIVE*/

@media screen and (max-width: 768px)
{
	body
	{
		width: auto;
	}

	main
	{
		flex-direction: column-reverse;
		margin: 0;
	}

	nav ul
	{
		flex-direction: row;
	}

	#filtre
	{
		flex-wrap: wrap;
	}

	aside
	{
		background-color: #F2F2F2;
		width: auto;
	}
	
	#pop img.paysage
	{
		width: 100%;
		height: auto;
	}

	.popLi
	{
		background-color: white;
	}
	.soleil
	{
		position: relative;
		top: -50px;
		left: 0;
	}
	.aucoeur
	{
		position: relative;
		top: -25px;
		left: 0;
	}

	.bleublanc
	{
		position: relative;
		top: -180px;
	}

	#hebergement
	{
		background-color: white;
		width: 96%;
	}

	#hebRes
	{
		width: 100%;
		display: flex;
		flex-direction: row;
	}
	.ulHeb
	{
		flex-direction: column;
	}

	.liHeb
	{
		width: 90%;
		margin-left: 20px;
	}

	.merImg
	{
		position: relative;
		top: -100px;
	}

	.portImg
	{
		position: relative;
		top: -75px;
	}

	.mouettesImg
	{
		position: relative;
		top: -75px;
	}
	.aminaImg
	{
		position: relative;
		top: -225px;
	}

	.ulActi
	{
		flex-direction: column;
	}
	.liActi
	{
		display: flex;
		width: 100%;
		height: 150px;
		margin-left: 0;
		margin-right: 0;
	}
	.cardActivite
	{
		height: 100%;
	}

	#fort
	{
		width: 47%;
		height: 100%;
	}

	#iles
	{
		width: 47%;
		margin-left: 40px;
		height: 100%;
		margin-top: 0;
	}

	#garde
	{
		width: 47%;
		height: 100%;
	}

	#longchamp
	{
		width: 47%;
		margin-left: 40px;
		height: 100%;
		margin-top: 0;
	}
	#activites
	{
		margin: 40px;
	}

	#activites h2
	{
		margin-top: 10px;
	}

	.figureActi
	{
		height: 80%;
	}
	
	.fortIMG
	{
		width: 100%;
		position: relative;
		top: -200px;
	}
	.ilesIMG
	{
		width: 100%;
		position: relative;
		top: -25px;
	}
	.gardeIMG
	{
		width: 100%;
	}
	.longchampIMG
	{
		width: 100%;
		position: relative;
		top: -50px;
	}
	.calanquesIMG
	{
		width: 100%;
		position: relative;
		top: -225px;
		left: 0;
	}
	.vieuxportIMG
	{
		width: 100%;
		position: relative;
		top: -225px;
		left: 0;
	}

	#activites img.paysage
	{
		height: auto;
	}

	footer
	{
		flex-direction: column;
	}
} 


@media screen and (max-width: 576px) 
{
	body 
	{
		width: auto;
	}
	#titre
	{
		display: block;
	}

	.nav2 a
	{
		color:  #0065FC;
		font-weight: bold;
	}
	
	.nav1
	{
		
		width: 100%;
		padding-bottom: 10px;
		text-align: center;
		border-bottom: 2px #F2F2F2 solid;
		margin-left: 0;
		margin-right: 0;
		margin-top: 10px;
	}

	nav a:hover
	{
		color: #0065FC;
		border-top: none;
	}

	.nav1:hover
	{
		border-bottom: 2px #0065FC solid;
	}
	

	.nav2
	{
		position: absolute;
		top: 20px;
		right: 20px;
	}
	#logo
	{
		display: block;
	}


	#filtre
	{
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	#pop img.paysage
	{
		width: 100%;
		height: 100%;
	}

	.soleil
	{
		top: 0;
	}

	.aucoeur
	{
		top: 0;
	}

	.bleublanc
	{
		top: -70px;
	}

	#hebergement
	{
		background-color: white;
		width: auto;
		margin: 0;
		padding: 0;
	}
	#heb
	{
		width: auto;
	}
	#hebRes
	{
		width: 100%;
		display: block;
	}

	.portImg
	{
		top: -50px;
	}

	.mouettesImg
	{
		top: -65px;
	}

	.merImg
	{
		top: 0;
	}

	.aminaImg
	{
		top: -175px;
	}

	#activites
	{
		margin: 20px;
		margin-top: 50px;
	}
	
	#activites ul
	{
		display: flex;
		flex-direction: column;
	}

	.doubleActi
	{
		display: flex;
		flex-direction: column;
	}
	.simple
	{
		height: 170px;
		width: 100%;
	}
	.doubleActi
	{
		height: 340px;
		width: 100%;
	}
	.vieuxportIMG
	{
		top: -60px;
	}
	#fort
	{
		width: 100%;
		height: 46%;
		margin-bottom: 20px;
	}
	.fortIMG
	{
		top: -285px;
	}
	#iles
	{
		margin-left: 0;
		width: 100%;
		height: 46%;
		margin-bottom: 20px;
	}
	.ilesIMG
	{
		top: -70px;
	}
	.calanquesIMG
	{
		top: -55px;
	}
	#garde
	{
		width: 100%;
		height: 46%;
	}
	.gardeIMG
	{
		top: -20px;
	}
	#longchamp
	{
		margin-left: 0;
		width: 100%;
		height: 46%;
		margin-top: 20px;
	}
	.figureActi
	{
		height: 65%;
	}
	#activites h2
	{
		margin-top: 16px;
	}
	aside
	{
		margin: 0;
		padding: 0;
		width: auto;
		border-radius: 0;
	}
	#popimage
	{
		margin-right: 20px;
		margin-left: 20px;
	}
	.figureHeb
	{
		margin: 0;
		width: 100%;
	}
	

	footer
	{
		flex-direction: column;
	}

	#propos
	{
		width: 100%;
	}

	#noshebergements
	{
		width: 100%;
	}

	#assistance
	{
		width: 100%;
	}

	footer ul
	{
		padding-left: 20px;
	}

}

